@import "tailwindcss";

@theme {
  /* Colors */
  --color-custom-Orange-500: hsl(25, 97%, 53%);
  --color-custom-White: hsl(0, 100%, 100%);
  --color-custom-Grey-500: hsl(217, 12%, 63%);
  --color-custom-Grey-900: hsl(213, 19%, 18%);
  --color-custom-Grey-950: hsl(216, 12%, 8%);

  /* Font */
  --font-base: "Overpass", sans-serif;
}